#page_1 {
    position: relative;
    overflow: hidden;
    margin: 23px 0px 38px 31px;
    /* padding: 0px; */
    /* border: none; */
    /* width: 785px; */
    #id_1 {
      border: none;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      border: none;
      width: 785px;
      overflow: hidden;
    }
  }
  
  .p0 {
    text-align: left;
    padding-left: 258px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  .p1 {
    text-align: left;
    padding-left: 267px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  .ft1 {
    font: bold 16px 'Arial';
    line-height: 19px;
  }
  
  .p2 {
    text-align: left;
    padding-left: 201px;
    padding-right: 110px;
    margin-top: 6px;
    margin-bottom: 0px;
    text-indent: 9px;
  }
  
  .ft2 {
    font: 11px 'Arial';
    line-height: 16px;
  }
  
  .t0 {
    width: 742px;
    margin-top: 24px;
    font: 12px 'Arial';
  }
  
  .p5 {
    text-align: left;
    padding-right: 149px;
    margin-top: 4px;
    margin-bottom: 0px;
  }
  
  .ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  #page_1 #id_2 {
    border: none;
    margin: 12px 0px 0px 59px;
    padding: 0px;
    border: none;
    width: 726px;
    overflow: hidden;
    #id_2_1 {
      float: left;
      border: none;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      border: none;
      width: 236px;
      overflow: hidden;
    }
  }
  
  .p6 {
    text-align: left;
    padding-left: 29px;
    padding-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -25px;
  }
  
  .ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  .ft4 {
    font: 11px 'Arial';
    line-height: 14px;
  }
  
  .ft5 {
    font: 12px 'Arial';
    margin-left: 15px;
    line-height: 15px;
  }
  
  .t1 {
    width: 236px;
    margin-top: 21px;
    font: 12px 'Arial';
  }
  
  .tr4 {
    height: 30px;
  }
  
  .td3 {
    padding: 0px;
    margin: 0px;
    width: 0px;
    vertical-align: bottom;
  }
  
  .tr4 {
    height: 30px;
  }
  
  .td4 {
    padding: 0px;
    margin: 0px;
    width: 25px;
    vertical-align: bottom;
  }
  
  .p22 {
    text-align: left;
    padding-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  .ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  .tr4 {
    height: 30px;
  }
  
  .td5 {
    padding: 0px;
    margin: 0px;
    width: 193px;
    vertical-align: bottom;
  }
  
  .p8 {
    text-align: left;
    padding-left: 4px;
    margin-top: 15px;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  .ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  .td6 {
    padding: 0px;
    margin: 0px;
    width: 18px;
    vertical-align: bottom;
  }
  
  .p10 {
    text-align: right;
    padding-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  .ft0 {
    font: 12px 'Arial';
    line-height: 15px;
  }
  
  #page_1 #id_2 #id_2_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 33px;
    padding: 0px;
    border: none;
    width: 457px;
    overflow: hidden;
  }
  
  .p23 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .p24 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .p25 {
    text-align: left;
    margin-top: 21px;
    margin-bottom: 0px;
  }
  
  .p26 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  
  #page_1 {
    #id_3 {
      border: none;
      margin: 23px 0px 0px 56px;
      padding: 0px;
      border: none;
      width: 729px;
      overflow: hidden;
    }
    #id_4 {
      border: none;
      margin: 78px 0px 0px 86px;
      padding: 0px;
      border: none;
      width: 587px;
      overflow: hidden;
    }
  }
  
  .tr17 {
    height: 17px;
  }
  
  .td9 {
    padding: 0px;
    margin: 0px;
    width: 254px;
    vertical-align: bottom;
  }
  
  .p4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .certi-principal { margin-left: 30rem; }

  .certi-content { 
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-right: 95px;
  }

  .certi-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }