

  .appearence-form-subcontainer{
    display: flex;
    margin-left: 20px;
  }

  .registration-form {
    margin-top: 45px;
    margin-left: 250px;
  }
  
  .form-container {
    border: 1px solid #eee;
    border-radius: 2px;
  }

  .form-header {
    background-color: #337ab7 !important;
    color: #fff !important;
    background-image: linear-gradient(to bottom,#337ab7 0,#337ab7 100%) !important; 
  }

  .form-admission { display: flex; }

  .form-radio { 
    @extend .form-admission;
    justify-content: space-around;
  }

  .form-admission-input { width: 105px; }

  .form-admission-switch { width: 260px; }

  .form-input { width: 270px; }
  
  .form-input-certi {
    @extend .form-input;
    margin: 0 20px;
  }

  .form-input-application { 
    @extend .form-input;
    margin-left: 40px; 
  }
  
  .form-input-enquiry {
    @extend .form-input-certi;
    margin-left: 50px;
  }

  .form-subcontainer { 
    padding: 15px; 
    display: flex;
    justify-content: space-around;
  }
  
  .form-subcontainer-admission-details {
    padding: 15px; 
    margin: 0 45px;
  }

  .form-select { 
    background: transparent;
    width: 195px;
    padding:4px;
  }
  
  .form-date {
    width: 195px;
    padding: 1px;
    border: 1px solid #bbb;
  }
  
  label { 
    font-size: 12px; 
    text-transform: capitalize;
  }
  
  .form-qualification-student-details { width: 190px; }

  .form-qualification-month { width: 150px; }

  .form-qualification { width: 105px; }

  .form-qualification-grade { width: 70px; }
  
  .form-input-university { width: 135px; }

  .form-label { 
    text-transform: capitalize; 
    padding: 10px 20px; 
    font-size: 18px;
  }
  
  .form-register-btn { margin-left: 50px; }

  .form-enquiry-btn {
    height: 35px;
    width: 70px;
    margin-left: 85px;
    margin-top: 22px;
    margin-right: 85px;
  }

  .form-registration-label {
    @extend .form-label;
    font-size: 30px;
  }
  
  .form-save-btn {
    margin-left: auto;
    margin-right: 50px;
    line-height: 5;
  }
  
  .registration-form-container {
    @media(min-width: 1200px) { width: 985px !important; }
  }

  .layout-column { 
    margin-bottom: 10px;
    flex-direction: column; 
  }
  
  .layout-row { flex-direction: row; }