.formWrapper input.form-control, select.form-control {
    border: 0;
    outline:  0;
    box-shadow: none;
    border-bottom: 1px solid #d7dee4;
    color: #aab7c5;
    border-radius: 0px;
    padding-left: 0;
}

.formWrapper input.form-control:focus, select.form-control:focus{
    box-shadow: none;
    outline: 0;
    border: 1px solid #d7dee4;
}

.formWrapper input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aab7c5;
    opacity: 1; /* Firefox */
}

.row{
  margin-right: 0 !important;
}

.no-padding{
    padding: 0;
}

.homeWrapper {
    display: inline-block;
    height: 100vh;
    width:  100%;
    background:  #f2f2f2;
}

a.navbar-brand {
    color: #00a2e8 !important;
    letter-spacing: 2px;
    font-weight: 600;
}

.checkbox.check label {
    color: #aab7c5;
}
.formHeadBtn{
    text-align: right;
    margin-top: 10px;
}
.formHeadBtn .btn-default{
    margin-right: 10px;
}