.header {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .header-container {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    vertical-align: middle
  }
  
  .menu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  .header-profile { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px; 
    margin-right: 10rem;
    border-radius: 100%;
    background-color: #fff;
    border: none;
  }
  
  .header-profile-pic {
    display: flex;
    justify-content: space-between;
  }

  .header-profile-info { margin-top: auto; }

  .header-dropdown-img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }

    .menu-icon {
    margin-left: 10px;        
  }
  
  .header-menu-profile { margin-right: 10px; }
  
  .header-dropdown { padding: 10px; }
  
  .page-content {
    margin-top: 45px;
    margin-left: 250px;
  }