
/******************* SIDEBAR ***********************/

.sidenav {
    text-align: left;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
   // padding-top: 60px;
  }
  
  .sidenav a {
    &:first-child { padding-top: 20px; }
    
    padding: 8px 8px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .sidenav-popover {
    left: 10% !important;
  }
  
  .sidenav-component {
    color: #d8d8d8;
    cursor: pointer;
    padding: 10px 15px;
  }