
.switch {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    border-radius: 20%;
    transition: background-color 100ms ease-out;
    z-index: 1;
  }
  
  .switch:before, .switch:after {
    content: "";
    position: absolute;
    top: 0;
    background-color: inherit;
    border-radius: 50%;
    width: 1rem;
    height: 1.5rem;
    z-index: 2;
  }
  
  .switch:before {
    left: -0.3rem;
  }
  
  .switch:after {
    right: -0.3rem;
  }
  
  .toggle-button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #353535;
    border-radius: 50%;
    transition: transform 100ms ease-in-out;
    z-index: 3;
    border: 0.05rem solid #353535;
    top: -0.05rem;
  }
  
  .component-wrapper_is-light {
    background-color: #FCFCFC;
  }
  
  component-wrapper_is-dark {
    background-color: #000411;
  }
  
  .header_is-lit {
    color: #61dafb;
  }
  
  .header_is-dark {
    color: #000411;
    text-shadow: 0 0 3rem #61dafb;
  }
  
  .switch_is-off {
    background-color: #D8D8D8;
  }
  
  .switch_is-on {
    background-color: #3DDC97;
  }
  
  .toggle-button_position-left {
      transform: translateX(-0.45rem);
  }
  
  .toggle-button_position-right {
      transform: translateX(2.05rem);
  }