
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}  

/**************************** Slider switch *****************************************/

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  z-index: 1;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}  */


/* 
.component-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #000411;
  transition: background-color 200ms ease-out;
} */

/* .appearence-form-subcontainer { 
  padding: 15px; 
  display: flex;
}

.registration-form {
  margin-top: 45px;
  margin-left: 250px;
}

.form-container {
  border: 1px solid #eee;
  border-radius: 2px;
}

.form-subcontainer { 
  padding: 15px; 
  display: flex;
  justify-content: space-around;
}

.form-select { 
  background: transparent;
  width: 195px;
  padding:4px;
}

.form-date {
  width: 195px;
  padding: 1px;
  border: 1px solid #bbb;
}

label { font-size: 12px; }

.form-qualification { width: 100px; }

.form-label { padding: 10px 20px; }

.form-register-btn { margin-left: 50px; }

.layout-column { 
  margin-bottom: 10px;
  flex-direction: column; 
}

.layout-row { flex-direction: row; }

/****************************** HEADER ************************/
/* 
.header {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .header-container {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    vertical-align: middle
  }
  
  .menu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  .header-profile { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px; 
  }
  
    .menu-icon {
    margin-left: 10px;        
  }
  
  .header-menu-profile { margin-right: 10px; }
  
  .header-dropdown { padding: 10px; }

  
/******************* SIDEBAR ***********************/
